@import "tailwindcss";

/* !!! */
@keyframes gradient-xy {
  0%,
  100% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }
}
/* !TAILWIND CONFIGURATION */
@layer utilities {
  .animate-gradient-xy {
    animation: gradient-xy 5s ease-in infinite;
    background-size: 200% 200%;
  }
}

@layer base {
  html {
    @apply scroll-smooth;
  }
  button {
    @apply cursor-pointer;
  }

  body {
    @apply bg-black text-white;
  }
}
